
~$Timeframe-Project.xlsx
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormLogin.resources
.vs/bimbel/v16/.suo
bimbel/obj/Debug/netcoreapp3.1/bimbel.designer.runtimeconfig.json
.vs/bimbel/v16/.suo
bimbel/obj/bimbel.csproj.nuget.dgspec.json
bimbel/obj/bimbel.csproj.nuget.g.targets
bimbel/obj/Debug/netcoreapp3.1/bimbel.AssemblyInfo.cs
bimbel/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
bimbel/obj/bimbel.csproj.nuget.dgspec.json
.vs/bimbel/v16/.suo
bimbel/obj/Debug/netcoreapp3.1/bimbel.AssemblyInfoInputs.cache
bimbel/obj/Debug/netcoreapp3.1/bimbel.assets.cache
bimbel/obj/Debug/netcoreapp3.1/bimbel.csproj.FileListAbsolute.txt
bimbel/obj/Debug/netcoreapp3.1/bimbel.csproj.GenerateResource.cache
bimbel/obj/Debug/netcoreapp3.1/bimbel.designer.deps.json
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormDaftarPresensi.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.designer.runtimeconfig.json
bimbel/obj/Debug/netcoreapp3.1/bimbel.formDataPengajar.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.formDatasiswa.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputJadwalSiswa.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputJadwalPengajar.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputJadwalUjian.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputKelas.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputMataPelajaran.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputNilai.resources
