
~$Timeframe-Project.xlsx
bimbel/bimbel.csproj.user
.vs/bimbel/v16/.suo
.vs/bimbel/DesignTimeBuild/.dtbcache.v2
bimbel/obj/bimbel.csproj.nuget.dgspec.json
bimbel/obj/bimbel.csproj.nuget.g.props
bimbel/obj/Debug/netcoreapp3.1/bimbel.assets.cache
bimbel/obj/Debug/netcoreapp3.1/bimbel.csproj.CoreCompileInputs.cache
bimbel/obj/Debug/netcoreapp3.1/bimbel.csproj.FileListAbsolute.txt
bimbel/obj/Debug/netcoreapp3.1/bimbel.csproj.GenerateResource.cache
bimbel/obj/Debug/netcoreapp3.1/bimbel.csprojAssemblyReference.cache
bimbel/obj/Debug/netcoreapp3.1/bimbel.designer.runtimeconfig.json
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormDaftarPresensi.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.formDataPengajar.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.formDatasiswa.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputJadwalPengajar.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputJadwalSiswa.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputJadwalUjian.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputKelas.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputMataPelajaran.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputNilai.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputPegawai.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputPembayaran.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.formInputPengajar.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormInputPresensi.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.formInputSiswa.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormJadwalPengajar.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormJadwalSiswa.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormJadwalUjian.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormKelas.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormLogin.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormMatPel.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormNilai.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormPegawai.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormPembayaran.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.FormRuangZoom.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.ParentForm.resources
bimbel/obj/Debug/netcoreapp3.1/bimbel.Properties.Resources.resources
bimbel/obj/project.assets.json
bimbel/obj/project.nuget.cache
.vs/bimbel/DesignTimeBuild/.dtbcache.v2
.vs/bimbel/v16/.suo
bimbel/bimbel.csproj.user
bimbel/obj - Shortcut.lnk
bimbel/obj/Debug/netcoreapp3.1/bimbel.csprojAssemblyReference.cache
*.lnk
